* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






body {
    width: 100vw;
    /*Aqui apliquei uma larguar para uma outra imagem de dentro do celular.*/
    height: 100vh;
    /*Aqui apliquei uma altura para uma outra imagem de dentro do celular.*/
    background-image: url(imagens/tela-home.jpg);
    /*Apliquei a imagem para dentro do celular*/
    background-repeat: no-repeat;
    /*Apliquei essa configuração para a immagem na parte de dentro do celular não se repetir*/
    background-position: center;
    /*Centralizei a imagem a centro*/
    background-size: cover;
    /*Cobrir toda area do celular com a imagem de dentro*/
}