* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




::-webkit-scrollbar {
    /*Aqui apliqeui essa configuração para ocultar a barra de tarefaas tanto horizontal como na vertical*/
    width: 0;

}



body {
    font-family: Arial, Helvetica, sans-serif;
}




a {
    display: block;
    /*Aqui apliquei essas configurações em toda minha tag a*/
    background-color: darkred;
    padding: 18px;
    text-align: center;
    font-size: 1em;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}



a:hover {
    background-color: red;
}




img {
    width: 100vw;
    /*Aqui apliquei essa configuração para dar uma largura de 100% na iamge dentro do iframe/celular*/

}