* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}




body {
    background-image: url(imagens/fundo-madeira.jpg);
    /*Aqui eu apliquei a imagem no html, apliquei também um background size e background position para cobrir e posicionar o elemento*/
    background-size: cover;
    background-position: center;




}





main {
    height: 100vh;
    /*Aqui apliquei essas configurações para dar uma altura de 100% no main*/
    display: flex;
    justify-content: center;
    align-items: center;



}








.cellphone {
    background-image: url(imagens/iphone.png);
    /*Aqui apliquei a imagem de fundo do celular dentro do meu iframe */
    background-repeat: no-repeat;
    /*Apliquei essa configuração para a imagem não se repetir*/
    width: 325px;
    /*Apliquei uma largura na minha caixa*/
    height: 650px;
    /*Apliquei uma altura na minha caixa*/

}








iframe.home {
    position: relative;
    /*Aqui apliquei um position relative para movientar a imagem de dentro do celular*/
    top: 94px;
    left: 33px;
    /*Essas foram as confugurações padrão para imagem de dentro do celular.*/
    width: 257px;
    height: 469px;

}